<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905513956998-h02buf0eh7m7055aalelrt6o7hdakqvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905513956998-h02buf0eh7m7055aalelrt6o7hdakqvn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>905513956998-2gfigeh1gami6qpm5mfvrqg2ks5sdlc8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0x3htV9sLPhoNY19xt3k_GXeKBg4qzx4</string>
	<key>GCM_SENDER_ID</key>
	<string>905513956998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourpassAssessment</string>
	<key>PROJECT_ID</key>
	<string>events-d44cc</string>
	<key>STORAGE_BUCKET</key>
	<string>events-d44cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905513956998:ios:cc29720795edad5b3b4307</string>
	<key>DATABASE_URL</key>
	<string>https://events-d44cc.firebaseio.com</string>
</dict>
</plist>